<!-- User Profile page -->
<div class="container">
  <h4>Welcome, <%= @user.first_name %>!</h4>
  <hr>
  <div class="row ">
    <div class="col m4 profile">
      <ul>
      <li><strong>Email:</strong> &nbsp; <%= @user.email %></li>
      <li><strong>Member Since:</strong> &nbsp; <%= @user.created_at.strftime("%b %d, %Y") %></li>
    </ul>





    <% if current_user == @user %>
    <p class="left-align"><%= link_to "edit ",  edit_user_path(@user), :class => 'waves-effect waves-light btn ' %></p>
    <% end %>

    </div>
  </div>


  <div class="row">
  <% @user.locations.each_with_index do |p, index| %>
      <div class="col s3 route_col z-depth-5">
        <div class="row route_text center-align">
          <p>Route <%="#{index}"%></p>
        </div>
        <div class="row route_inf">
          <strong>Saved:</strong>
          <p class="margin"><%=p.created_at.strftime("%b %d, %Y")%></p>
          <strong>From: </strong>
          <p class="margin"> <%= "#{p.location}" %></p>
          <strong> To: </strong>
          <p class="margin"><%= "#{p.destination}" %></p>
          <strong>Miles:</strong>
          <p class="margin"><%="#{p.distance}"%></p>
        </div>
          <div class="row link_route">
            <div class="col s0">
              <p style="text-decoration: underline;"><%= link_to "View Route", location_path(p) %>
            </div>
            <div class="col s5 right-align">
              <p><%= link_to '<i class="material-icons">delete</i>'.html_safe, location_path(p), method: :delete %></p></p>
            </div>
          </div>
      </div>






    <% end %>
  </div>
