<!-- User Profile page -->
<div class="container">
  <h4>Welcome, <%= @user.first_name %>!</h4>
  <hr>
  <div class="row ">
    <div class="col m4 profile">
      <ul>
      <li><strong>Email:</strong> &nbsp; <%= @user.email %></li>
      <li><strong>Member Since:</strong> &nbsp; <%= @user.created_at.strftime("%b %d, %Y") %></li>
    </ul>





    <% if current_user == @user %>
    <p class="left-align"><%= link_to "edit ",  edit_user_path(@user), :class => 'waves-effect waves-light btn ' %></p>
    <% end %>

    </div>
  </div>


  <% @user.locations.each do |p| %>
    <div class="row">
      <div class="col s10 offset-s1">
          <h6><%= link_to " #{p.location}", location_path(p) %></h6>
        <p><%=p.created_at.strftime("%b %d, %Y")%></p>
      </div>
      <div >
          <%= link_to "delete", location_path(:id),  :class => 'waves-effect waves-light btn red delete' %></p>
      </div>
    </div>
    <hr>
    <% end %>
