<div style='width: 800px;'>
  <div id="directions" style='width: 800px; height: 400px;'></div>
</div>


<div class="">
  <p><%= @distance %></p>

</div>


<script type="text/javascript">
var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();

function calcRoute() {
  var origin      = new google.maps.LatLng(<%=raw @location.latitude.to_json%>, <%= raw @location.longitude.to_json %>);
  var destination = new google.maps.LatLng(<%=raw @destination.latitude.to_json%>, <%=raw @destination.longitude.to_json %>);
  var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.BICYCLING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}

calcRoute();

var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'directions'}}, function(){
  directionsDisplay.setMap(handler.getMap());
  @distance = Geocoder::Calculations.distance_between([origin], destination])
});
</script>
