<!-- Map -->
<div>
  <div id="directions" ></div>
</div>



<div class="row container_result z-depth-3">
  <div class="col s3">
    <strong>Miles:</strong>
    <p class="margin"><%= @location.distance %></p>
    <strong>Calories:</strong>

    <p class="margin"><%= @location.calories %></p>

  </div>
</div>
<div class="col s12">
  <p><%= link_to "save ", add_user_path(@location.id), method: :post,  :class => 'waves-effect waves-light btn right' %>
  </div>






<!-- JavaScript Map -->
<script type="text/javascript">
var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();


function calcRoute() {
  var origin      = new google.maps.LatLng(<%=raw @location.latitude.to_json%>, <%= raw @location.longitude.to_json %>);
  var destination = new google.maps.LatLng(<%=raw @location.lat.to_json%>, <%=raw @location.lon.to_json %>);
  var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.BICYCLING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}
calcRoute();
var mapStyle = [{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"saturation":"-38"},{"lightness":"-60"},{"color":"#000000"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":"100"},{"gamma":"1"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"geometry","stylers":[{"saturation":"-100"},{"lightness":"-26"},{"hue":"#ff0000"},{"gamma":"1.00"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#108eef"},{"visibility":"on"}]}];
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'directions'},
    provider: {
    styles:    mapStyle
  }
},
function(){
  directionsDisplay.setMap(handler.getMap());
});
</script>
